<?xml version="1.0"?>
<!--
/**
 * Copyright © Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amazon\Maxo\Client\ClientFactoryInterface" type="Amazon\Maxo\Client\ClientFactory" />
    <preference for="AmazonPayV2\ClientInterface" type="Amazon\Maxo\Client\Client" />

    <preference for="Amazon\Maxo\Api\CheckoutSessionManagementInterface" type="Amazon\Maxo\Model\CheckoutSessionManagement" />
    <preference for="Amazon\Maxo\Api\AddressManagementInterface" type="Amazon\Maxo\Model\AddressManagement" />

    <type name="Amazon\Maxo\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">amazonClientLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Amazon\Maxo\Logger\Handler\Client</item>
            </argument>
        </arguments>
    </type>
    <type name="Amazon\Maxo\Client\ClientFactory">
        <arguments>
            <argument name="logger" xsi:type="object">Amazon\Maxo\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Amazon\Core\Helper\Data">
        <plugin name="amazon_maxo_amazon_core_helper" type="Amazon\Maxo\Plugin\AmazonCoreHelperData" sortOrder="1" />
    </type>

    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="amazon_maxo_save_payment_info" type="Amazon\Maxo\Plugin\SavePaymentInformation" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="amazon_maxo_save_payment_info" type="Amazon\Maxo\Plugin\SaveGuestPaymentInformation" sortOrder="10" disabled="false"/>
    </type>

    <!-- Payment Method Facade configuration -->
    <virtualType name="AmazonMaxoFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Amazon\Maxo\Gateway\Config\Config::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">AmazonMaxoValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">AmazonMaxoCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Commands infrastructure -->
    <virtualType name="AmazonMaxoCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">AmazonMaxoAuthorizeCommand</item>
                <item name="sale" xsi:type="string">AmazonMaxoSaleCommand</item>
                <item name="capture" xsi:type="string">AmazonMaxoCaptureStrategyCommand</item>
                <item name="settlement" xsi:type="string">AmazonMaxoSettlementCommand</item>
                <item name="refund" xsi:type="string">AmazonMaxoRefundCommand</item>
                <item name="void" xsi:type="string">AmazonMaxoVoidCommand</item>
                <item name="cancel" xsi:type="string">AmazonMaxoVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AmazonMaxoCaptureStrategyCommand" type="Amazon\Maxo\Gateway\Command\CaptureStrategyCommand">
        <arguments>
            <argument name="commandPool" xsi:type="object">AmazonMaxoCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="AmazonMaxoGatewayConfig" type="Amazon\Maxo\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Amazon\Maxo\Gateway\Config\Config::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Command Manager -->
    <virtualType name="AmazonMaxoCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">AmazonMaxoCommandPool</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Payment\Gateway\Command\CommandManagerPool">
        <arguments>
            <argument name="executors" xsi:type="array">
                <item name="amazon_payment_v2" xsi:type="string">AmazonMaxoCommandManager</item>
            </argument>
        </arguments>
    </type>

    <!-- Authorize command -->
    <virtualType name="AmazonMaxoAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Amazon\Maxo\Gateway\Request\AuthorizationRequestBuilder</argument>
            <argument name="transferFactory" xsi:type="object">Amazon\Maxo\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Amazon\Maxo\Gateway\Http\Client\AuthorizeClient</argument>
            <argument name="handler" xsi:type="object">Amazon\Maxo\Gateway\Response\CompleteAuthHandler</argument>
            <argument name="validator" xsi:type="object">Amazon\Maxo\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Amazon\Maxo\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <!-- Authorize and Capture command -->
    <virtualType name="AmazonMaxoSaleCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Amazon\Maxo\Gateway\Request\AuthorizationRequestBuilder</argument>
            <argument name="transferFactory" xsi:type="object">Amazon\Maxo\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Amazon\Maxo\Gateway\Http\Client\AuthorizeClient</argument>
            <argument name="handler" xsi:type="object">Amazon\Maxo\Gateway\Response\CompleteAuthHandler</argument>
            <argument name="validator" xsi:type="object">Amazon\Maxo\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Amazon\Maxo\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <!-- Capture settlement command -->
    <virtualType name="AmazonMaxoSettlementCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Amazon\Maxo\Gateway\Request\SettlementRequestBuilder</argument>
            <argument name="handler" xsi:type="object">Amazon\Maxo\Gateway\Response\SettlementHandler</argument>
            <argument name="transferFactory" xsi:type="object">Amazon\Maxo\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Amazon\Maxo\Gateway\Http\Client\SettlementClient</argument>
            <argument name="validator" xsi:type="object">Amazon\Maxo\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Amazon\Maxo\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <type name="Amazon\Maxo\Gateway\Request\AuthorizationRequestBuilder">
        <arguments>
            <argument name="config" xsi:type="object">AmazonMaxoGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Refund Command -->
    <virtualType name="AmazonMaxoRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Amazon\Maxo\Gateway\Request\RefundRequestBuilder</argument>
            <argument name="handler" xsi:type="object">Amazon\Maxo\Gateway\Response\RefundHandler</argument>
            <argument name="transferFactory" xsi:type="object">Amazon\Maxo\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Amazon\Maxo\Gateway\Http\Client\RefundClient</argument>
            <argument name="validator" xsi:type="object">Amazon\Maxo\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Amazon\Maxo\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <!-- Void command -->
    <virtualType name="AmazonMaxoVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Amazon\Maxo\Gateway\Request\VoidRequestBuilder</argument>
            <argument name="handler" xsi:type="object">Amazon\Maxo\Gateway\Response\VoidHandler</argument>
            <argument name="transferFactory" xsi:type="object">Amazon\Maxo\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Amazon\Maxo\Gateway\Http\Client\VoidClient</argument>
            <argument name="validator" xsi:type="object">Amazon\Maxo\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Amazon\Maxo\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <!-- Void Request -->
    <type name="Amazon\Payment\Gateway\Request\VoidRequestBuilder">
        <arguments>
            <argument name="config" xsi:type="object">AmazonGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Value handlers infrastructure -->
    <virtualType name="AmazonMaxoValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">AmazonMaxoConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AmazonMaxoConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">AmazonMaxoGatewayConfig</argument>
        </arguments>
    </virtualType>

    <!-- Amazon error code mapper -->
    <virtualType name="Amazon\Maxo\Gateway\ErrorMapper\VirtualConfigReader" type="Magento\Payment\Gateway\ErrorMapper\VirtualConfigReader">
        <arguments>
            <argument name="fileName" xsi:type="string">amazon_error_mapping_maxo.xml</argument>
        </arguments>
    </virtualType>
    <virtualType name="Amazon\Maxo\Gateway\ErrorMapper\VirtualMappingData" type="Magento\Payment\Gateway\ErrorMapper\MappingData">
        <arguments>
            <argument name="reader" xsi:type="object">Amazon\Maxo\Gateway\ErrorMapper\VirtualConfigReader</argument>
            <argument name="cacheId" xsi:type="string">amazon_error_mapping_maxo</argument>
        </arguments>
    </virtualType>
    <virtualType name="Amazon\Maxo\Gateway\ErrorMapper\VirtualErrorMessageMapper" type="Magento\Payment\Gateway\ErrorMapper\ErrorMessageMapper">
        <arguments>
            <argument name="messageMapping" xsi:type="object">Amazon\Maxo\Gateway\ErrorMapper\VirtualMappingData</argument>
        </arguments>
    </virtualType>

</config>
